.myportfolio{
    background-color: white;
    background-image: url(../../../public/assets/bg2.jpg);
    background-size:1200px 800px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 80px;
        color: black;
        // text-shadow: 5px 0px 10px rgb(53, 50, 50);
       
        margin-left: 1300px;
        // transform: rotate(90deg);
        transform: translate(-30px, 300px) rotate(90deg);
        padding: 10px;
        border-radius: 10px;
    }

    ul{
        margin-right: 410px;
        padding: 0;
        list-style: none;
        display: flex;
        // color: white;
        // background-color: black;
        padding :10px 80px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    
    .container{
        margin-right: 430px;
        width: 60%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: white;
        // background-image: url(../../../public/assets/bg2.jpg);
        box-shadow: 1px 1px 10px gray;
        // border: solid 3px peachpuff;
        // .text{
        //     //  position: fixed;
        //     .one{
        //         color:greenyellow;
        //         margin-bottom: 10px;
        //     }
        //     .two{
        //         color:orange;
        //         margin-bottom: 10px;
        //     }
        //     .three{
        //         color: pink;
        //         margin-bottom: 10px;
        //     }
        // }

        .parent{
            display: flex;
            align-items: center;
            justify-content: space-between;
                .text{
                    
                    margin-right: 50px;
                    margin-left: 20px;
                    color: black;
                    font-family: "Clarkson",Helvetica,sans-serif;
                    .one{
                        // color:greenyellow;
                        font-size: 30px;
                    }
                    .two{
                        // color:orange;
                        font-size: 25px;
                    }
                    .three{
                        // color: pink;
                        font-size: 20px;
                    }
                }

                .item{
                    width: 220px;
                    height: 250px;
                    // margin-left: 50px;
                    background-color: aliceblue;
                    border-radius: 20px;
                    border: 1px solid black;
                    margin: 10px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                    position: relative;
                    transition: all 0.5s ease;
                    cursor: pointer;

                    h3{
                        position: absolute;
                        font-size: 20px;
                    }

                    img{

                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 2;
                    }

                    &:hover{
                        background-color: white;
                        img{
                            opacity: 0.2;
                            z-index: -1;
                        }
                    }
                }
    }
            .college{
                display: flex;
                align-items: center;
                justify-content: center;


                .item{
                    width: 220px;
                    height: 200px;
                    // margin-left: 50px;
                    background-color: aliceblue;
                    border-radius: 20px;
                    border: 1px solid black;
                    margin: 10px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black;
                    text-shadow: 1px 1px 3px white;
                    position: relative;
                    transition: all 0.5s ease;
                    cursor: pointer;

                    h3{
                        position: absolute;
                        font-size: 20px;
                        align-items:center;
                        justify-content: center;
                    }

                    img{

                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 2;
                    }

                    &:hover{
                        background-color: white;
                        img{
                            opacity: 0.2;
                            z-index: -1;
                        }
                    }
                }
                
                
            }
    }
}