.intro{
    background-color: rgb(90, 165, 177);
    // background-image: url(../../../public/assets/bg.PNG);
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;

        .imageContainer{
            margin-top: 20px;
            margin-right: 20px;
            width: 700px;
            height: 700px;
            background-color: white;
            box-shadow: 2px 2px 20px rgb(53, 50, 50);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            left: -100px;
            
            img{
                height: 70%;
                border-radius: 50%;
            }
        }
    }
    .right{
        flex: 0.5;
        padding: 20px;


        .wrapper{
            width: 86%;
            height: 62%;
            margin-top: 140px;
            margin-bottom: 20px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            background-image: url(../../../public/assets/lap.png);
            background-position: -9px;
            // box-shadow: 2px 2px 15px white;

                h1{
                    color:black;
                    font-family: "Comic Sans MS", "Comic Sans", cursive;
                    // font-family: Consolas, Menlo, Monaco, "Lucida Console", Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
                    // font-weight: bolder;
                    font-size: 35px;
                    margin-top: 40px;
                    .c1{
                        display: inline-block;
                        
                        .type{
                            // color: orange;
                            font-size: 25px;
                            overflow: hidden;
                            border-right: .15em solid white;
                            white-space: nowrap; 
                            width: 0;
                            animation: 
                              typing 1s steps(25, end) forwards;
                        }
                    }
                    .c2{
                        display: inline-block;
                        .type2{
                            color: rgb(213, 14, 117);
                            font-size: 55px; 
                            overflow: hidden;
                            border-right: .15em solid white;
                            white-space: nowrap; 
                            width: 0;
                            animation: 
                              typing 1s steps(25, end) forwards;
                            animation-delay: 1s;
                        }
                    }
                    .c3{
                        display: inline-block;
                        .type3{
                            // color: greenyellow;
                            margin-top: 0px;
                            font-size: 35px; 
                            overflow: hidden;
                            border-right: .15em solid white;
                            white-space: nowrap; 
                            width: 0;
                            animation: 
                              typing 1s steps(25, end) forwards;
                            animation-delay: 3s;
                        }
                    }
                    .c4{
                        display: inline-block;
                        .type4{
                            // color: aqua;
                            margin-top: 5px;
                            font-size: 25px; 
                            overflow: hidden;
                            border-right: .15em solid white;
                            white-space: nowrap; 
                            width: 0;
                            animation: 
                              typing 1s steps(25, end) forwards;
                            animation-delay: 4s;
                        }
                    }
                    @keyframes typing {
                        from { width: 0 }
                        to { width: 100% }
                      }
                    
                }

            }
        }
        
        a{
            color: yellowgreen;
            position: absolute;
            bottom: 10px;
            left: 70%;
            img{
                width: 60px;
                animation: arrow 1s infinite;
            }

            @keyframes arrow {
               100%{
                opacity: 0;
               } 
            }
        }
        
    }